.userPage {
  margin: 10px;
  width: 600px;
  padding: 10px 20px;

  &-id {
    margin: 10px;
    font-weight: bold;
  }

  &-info {
    width: 500px;

    & label {
      font-weight: bold;
      margin: 5px 0;

      & input {
        width: 400px
      }

      & textarea {
        width: 400px
      }

      & .form-check-input {
        width: 15px;
      }

      & span {
        font-weight: normal;
      }
    }
  }
}

.btn {
  margin: 7px; 
}