.page {
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &-userCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 600px;
    align-items: flex-start;
    justify-content: flex-start;
  }

}